* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(143, 140, 140);
}

#main {
    height: 100%;
    width: 100%;;
}

#intro {
    height: 50%;
    width: 100%;
}

#nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}

#nav h3 {
    font-size: 16px;
    font-weight: 200;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 10px 15px;
    margin-left: 5px;
}

#intro h1 {
    font-size: 75px;
    line-height: 80px;
    padding: 25px 30px;
    letter-spacing: -3px;
}

#place {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    margin-top: none;
}

#hero-img {
    width: 100%;
    height: 80%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-1600.webp);
    background-size: cover;
}

#about {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
}

#about h2 {
    width: 50%;
    font-size: 70px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 1px;

}

#about2 {
    width: 45%;
    height: 100%;
    border-left: solid black;
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

#about2 h3 {
    margin-top: -50px;
    font-size: 20px;
    font-weight: 700;
}

#icons i {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
}

#work {
    width: 100%;
    height: 70%;
    border-top: 2px solid black;
    display: flex;
    padding: 10px 60px;
    border-bottom: 2px solid black;
}

#work1 {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
    border-right: 2px solid black;
}

#work1 h3 {
    padding: 25px;
    font-size: 20px;
}

#work1 i {
    font-size: 30px;
    padding: 25px;
}

#work2 {
    height: 150%;
    width: 70%;
    padding: 0 60px
}

.work2-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 49px 0;
}

.work2-part:nth-child(1) {
    border-bottom: 2px solid black;
    padding: 30px 20px;

}

.work2-part:nth-child(2) {
    padding: 30px 20px;
}

.work2-part .elem {
    height: 50%;
    width: 100%;
}

.work2-part .elem:nth-child(1) {
    border-right: 2px solid black;
    padding-right: 50px;
}

.work2-part .elem:nth-child(2) {
    padding-left: 40px;
}

.work2-part .elem h4 {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 600;
}

.work2-part .elem p {
    color: black;
    font-size: 20px;
    font-weight: lighter;
}
